:root {
    --red: #E50914;
    --black: #141414;
    --white: #ffffff;
    --font: #b3b3b3;
    --gap: 3rem;
    --gap: 2rem;
}
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
html {
    font-size: 62.5%;
    color: var(--white);
}
a {
    text-decoration: none;
    color: inherit;
}

.gradient {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.4) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,0.4) 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.menu {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
    padding-bottom: 2rem;
    
}
.menu-left {
    display: flex;
    align-items: center;
    padding-left: 6rem;
    padding-top: 2.5rem;
}
.menu-left h2 {
    font-size: 2.6rem;
    color: var(--red);
    padding-right: 5rem;
}
.nav a:hover {
    color: var(--font);
}
.nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding-right: 2rem;
}
.menu-right {
    display: flex;
    align-items: center;
    padding-right: 6rem;
    padding-top: 2.5rem;
}
.menu-right a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding-right: 2rem;
}

.background-img {
    background-image: url('../img/capa-house.jpg');
    background-size: cover;
    background-position: center center;
}
.backgorund-color {
    background: var(--black);
}
.main-container {
    width: 100%;
    height: 100vh;
    
}
.main-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    padding-left: 6rem;
    padding-top: 18rem;
    
    
}
.second-grid {
    display: grid;
    align-items: center;
    z-index: 1;
    
    
}
.grid-text {
    padding-bottom: 2rem;
    
}
.grid-text h1 {
    font-size: 11rem;
    line-height: 10rem;
    padding-bottom: 3.5rem;
    
}
.grid-text h2 {
    font-size: 3rem;
    padding-bottom: 2.5rem;
}
.grid-text span {
    font-size: 2.6rem;
    
}
.btn1 {
    width: 19rem;
    height: 6rem;
    border-radius: .5rem;
    outline: none;
    border: none;
    margin-right: 1rem;
    text-align: center;
    
}
.btn1:hover {
    background: rgb(252, 227, 228);
}
.btn2 {
    width: 30rem;
    height: 6rem;
    background: rgba(58, 53, 54, 0.8);
    color: white;
    border-radius: .5rem;
    outline: none;
    border: none;
    text-align: center;   
}
.btn2:hover {
    background: rgba(58, 53, 54, 0.3);
}
.btn1 a, .btn2 a {
    font-size: 2rem;
    font-weight: bold;
}
.fas {
    font-size: 2.3rem;
    padding-right: 2rem;
}
.fa-caret-down {
    
    font-size: 1.7rem;
    padding-top: 0rem;
    padding-left: 1rem;
}
.container-down {
    display: flex;
    align-items: top;
    
}
.fa-bell {
    font-size: 2rem;
    padding-right: 1rem;
}
.fa-search {
    font-size: 2rem;
    padding-right: 0.4rem;
}
.account-dropdown-button {
    margin-right: -6rem;
}
.carrosel-filmes {
    background: var(--black);
}
.carrosel {
    display: flex;
}